
<h1>Tous les shops</h1>
<%= link_to "Ajouter un shop", new_shop_path %>

<% @shops.each do |shop| %>
  <div class="shop-card">
    <h2><%= link_to shop.name, shop %></h2>
    <p><%= shop.address %></p>
    <p><%= shop.description %></p>
  </div>
<% end %>

<div class="container mt-5">
  <h2 class="section-title">Carte des shops</h2>
  <%= render "shared/map",
      map_id: "shops-map",
      height: "400px",
      tatoueurs_json: "[]",
      shops_json: @shops_json %>
</div>