<h1><%= @shop.name %></h1>
<p><strong>Adresse :</strong> <%= @shop.address %></p>
<p><strong>Email :</strong> <%= @shop.email %></p>
<p><strong>Téléphone :</strong> <%= @shop.phone %></p>
<p><strong>Horaires :</strong> <%= @shop.open_hours %></p>
<p><%= @shop.description %></p>

<h2>Tatoueurs</h2>
<% @shop.tatoueurs.each do |t| %>
  <p><%= link_to t.nickname, tatoueur_path(t) %></p>
<% end %>

<h2>Événements</h2>
<% @shop.events.each do |e| %>
  <p><%= link_to e.name, event_path(e) %> — <%= e.start_date.strftime("%d/%m/%Y") %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Réserver dans ce shop", new_shop_booking_path(@shop), class: "hero-cta" %>
<% else %>
  <%= link_to "Connectez-vous pour réserver", new_user_session_path, class: "hero-cta" %>
<% end %>

<% if user_signed_in? && policy(@shop).update? %>
  <%= link_to "Modifier", edit_shop_path(@shop), class: "btn btn-outline-warning btn-sm" %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Supprimer", @shop,
      data: { turbo_method: :delete, turbo_confirm: "Supprimer ce shop ?" },
      class: "btn btn-danger btn-sm" %>
<% end %>

<%= render "favorites/button", favoritable: @shop %>

<% if user_signed_in? %>
  <%= button_to "✉️ Contacter",
    conversations_path(shop_id: @shop.id),
    method: :post,
    class: "hero-cta" %>
<% end %>