<h1>Réservation annulée</h1>
<p>Bonjour <strong style="color:#fff"><%= @user.first_name %></strong>,</p>
<p>Votre réservation <strong style="color:#fff">#<%= @booking.id %></strong> auprès de <strong style="color:#ffc107"><%= @tatoueur.nickname %></strong> a été annulée.</p>

<table class="detail-table">
  <tr><td>Tatoueur</td><td><%= @tatoueur.nickname %></td></tr>
  <tr><td>Date prévue</td><td><%= @booking.date.strftime("%d/%m/%Y") %></td></tr>
  <tr><td>Annulée le</td><td><%= @booking.cancelled_at&.strftime("%d/%m/%Y à %H:%M") %></td></tr>
  <% if @booking.cancellation_reason.present? %>
    <tr><td>Raison</td><td><%= @booking.cancellation_reason %></td></tr>
  <% end %>
</table>

<div class="alert-box danger">
  Si vous pensez qu'il s'agit d'une erreur, contactez-nous via la messagerie Tattoosphere.
</div>

<a href="<%= tatoueurs_url %>" class="btn">Trouver un autre tatoueur</a>

