<h1>Votre facture d'acompte</h1>
<p>Bonjour <strong style="color:#fff"><%= @user.first_name %></strong>,</p>
<p>Veuillez trouver en pièce jointe la facture correspondant à l'acompte versé pour votre réservation <strong style="color:#fff">#<%= @booking.id %></strong>.</p>

<table class="detail-table">
  <tr><td>Réservation</td><td>#<%= @booking.id %></td></tr>
  <tr><td>Tatoueur</td><td><%= @tatoueur.nickname %></td></tr>
  <tr><td>Date RDV</td><td><%= @booking.date.strftime("%d/%m/%Y") %></td></tr>
  <tr><td>Acompte</td><td><%= @booking.deposit_amount %> €</td></tr>
  <tr><td>Date de paiement</td><td><%= @booking.deposit_paid_at&.strftime("%d/%m/%Y") %></td></tr>
</table>

<p>La facture complète vous sera remise après votre rendez-vous.</p>
<a href="<%= booking_url(@booking) %>" class="btn">Voir ma réservation</a>