<!DOCTYPE html>
<html>
  <head>
    <title>TattooApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <nav>
      <%= link_to "Accueil", root_path %>
      <%= link_to "Shops", shops_path %>
      <%= link_to "Tatoueurs", tatoueurs_path %>
      <%= link_to "Événements", events_path %>
      <%= link_to "Styles", tattoo_styles_path %>
      <% if user_signed_in? %>
        <%= link_to "Mes réservations", bookings_path %>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path %>
        <%= link_to "Inscription", new_user_registration_path %>
      <% end %>
    </nav>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
